
.productList {
    margin: 0 auto;
    
    &__container {
        max-width: 1200px;
        padding: 1rem;
        margin: 0 auto;
    }
    &__view{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        margin-right: 8px;
        gap: 10px
    
    }
    &__smallGrid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
    }
    &__bigGrid{
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center; 
    }
}
