$accent-main: #000000;
$bg-btn-hover: #dd1111;
$bg-btn-active: #b02f2f;
$color-main-bright: #fff;

.formContainer {
  max-width: 400px;
  margin: 0 auto;
}
.formTitle{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

.input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: -0px 2px 10px rgba(131, 132, 128, 0.3);
  transition: box-shadow .3s;

  &:hover {
    box-shadow: -0px 7px 10px rgba(69, 70, 62, 0.5);
}
  &:focus-visible {
    outline: none;
}
}
.error{
  animation: shake 0.3s ease-in-out;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.submitBtn {
  margin-bottom: 20px;
  font-size: 1.2rem;
        background: $accent-main;
        color: $color-main-bright;
        padding: .3rem 1rem .5rem;
        border-radius: 10px;
        transition: background-color .3s;

        &:hover {
            background: $bg-btn-hover;
        }

        &:active {
            background: $bg-btn-active;
        }
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
}
