$accent-main: #000000;
$bg-btn-hover: #dd1111;
$bg-btn-active: #b02f2f;
$accent-light: #e7efcd;
$color-main-bright: #fff;

.product {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: -0px 3px 15px rgba(131, 132, 128, 0.3);
    overflow: hidden;
    transition: box-shadow .3s;

    &:hover {
        box-shadow: -0px 10px 15px rgba(69, 70, 62, 0.5);

        .product__img img {
            scale: 1.2;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        position: relative;
        margin-bottom: 1rem;
    }

    &__name {
        font-size: 1.5rem;
        line-height: 150%;
        font-weight: 600;
    }

    &__article {
        font-size: .7rem;
        color: #7d7a7a;
        align-self: flex-start;

    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        flex-grow: 1;
    }

    &__img {
        width: 100%;
        height: 15rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: scale .5s;
        }
    }

    &__descr {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &__color {
        font-size: 1.5rem;
        font-weight: 500;   
    }

    &__price {
        font-size: 1.5rem;
        font-weight: 700;
        color: $accent-main;
        
        span {
            font-size: 1.4rem;
        }
    }
    &__cartBtns{
        display: flex;
        gap: 5px;
    }
    &__minusBtn,
    &__plusBtn {
        font-size: 1.4rem;
    }

    &__itemQuantity{
        color:$accent-main;
        max-width: 2rem;
        text-align: center;
    }

    &__number {
        font-size: 1rem;
        font-weight: 700;
        color: $accent-main;
    }


    &__btns {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__favBtn {
        width: 2rem;
        height: 2rem;

        & svg path {
            transition: fill .3s;
        }

        &:hover svg path {
            fill: $bg-btn-hover;
        }

        &:active svg path {
            fill: $bg-btn-active;
        }
    }

    &__buyBtn {
        font-size: 1.2rem;
        background: $accent-main;
        color: $color-main-bright;
        padding: .3rem 1rem .5rem;
        border-radius: 10px;
        transition: background-color .3s;

        &:hover {
            background: $bg-btn-hover;
        }

        &:active {
            background: $bg-btn-active;
        }
    }
    &__delBtn {
        position: relative;
        width: 2rem;
        height: 2rem;
        align-self: baseline;

        &::before,
        &::after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background: $accent-main;
            transition: transform .3s, background-color .3s;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover {

            &::before {
                transform: translate(-50%, -50%) rotate(135deg);
                background-color: $bg-btn-hover;
            }

            &::after {
                transform: translate(-50%, -50%) rotate(45deg);
                background-color: $bg-btn-hover;
            }
        } 
    }

}
